<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand text-size-18 p-2 rounded-2 border bg-color text-white fw-bold my-logo"
         matTooltip="Vedant's portfolio">vK
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" #navbarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav px-2" *ngFor="let link of navbarLinks">
        <a class="nav-link nav-link-size" routerLinkActive="active" [routerLink]=link.routerLink
           (click)="toggleNavbar(navbarToggler)"><span [innerHTML]="link.icon"
                                                       class="me-1 text-app-color"></span>{{link.name}}</a>
      </div>
    </div>
    <i class="bi bi-brightness-high text-app-color text-size-20 cursor-pointer" matTooltip="Enable Dark Theme"
       *ngIf="isLightTheme" (click)="toggleTheme()"></i>
    <i class="bi bi-brightness-high-fill text-app-color text-size-20 cursor-pointer" matTooltip="Enable Light Theme"
       *ngIf="!isLightTheme" (click)="toggleTheme()"></i>
  </div>
</nav>

<router-outlet></router-outlet>


<a class="copyright-div cursor-pointer" (click)="openCopyrightModal()">Copyright</a>

