<div class="home-container container-fluid">
  <div class="row home-sub-container">
    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
      <img class="img-fluid my-photo-div float-animation" src="assets/dev-img.svg"/>
    </div>
    <div class="col-lg-6 col-md-6 sol-sm-12 my-auto">
      <div class="justify-content-start about-me-div">
        <div class="my-name-section">
          <div class="text-size-18 fw-bold">Hello, I am</div>
          <div class="text-size-20 fw-bold text-app-color">Vedant Kapse</div>
          <div class="text-size-18 fw-bold text-app-color mt-2">
            <span>{{ typedText() }}</span><span class="cursor">|</span>
          </div>
          <div class="mt-3">
            <button mat-raised-button class="home-all-btns"><a class="mt-3 text-white text-decoration-none"
                                                               href="assets/VEDANT_KAPSE_RESUME.pdf"
                                                               download="vedant_resume.pdf">
              Resume <i class="bi bi-download"></i>
            </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
