.home-container {

  padding-bottom: 60px;

  .my-photo-div {
    width: 400px;
    height: 400px;
  }

  .about-me-div {
   @media (max-width: 768px) {
     text-align:center;
   }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .float-animation {
    animation: float 2s ease-in-out infinite;
  }

  .home-all-btns {
    background-color: var(--app-theme-color);
  }

  .about-me {
    line-height: 1.6;
  }

  .my-name-section {
    line-height: 1.3
  }

  .home-sub-container{
    margin-top:80px;

    @media (max-width: 768px) {
      margin-top:0px;
    }
  }

  .cursor {
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
}
