<div class="copyright-modal-container p-3 bg-color text-white text-size-18">
  <div class=""><i class="fa-regular fa-copyright"></i> Copyright <span class="text-dark">{{currentYear}}</span></div>
  <div class="text-size-15 text-size-18 mt-2">
    Developed by <span class="text-size-20 text-black">Vedant</span>
  </div>
  <div class="text-size-18 mt-2 text-dark">
    <span class="text-white">Created in </span> <i class="fab fa-angular skills-icons angular text-black"></i> Angular
  </div>
</div>
